$prymori-color: #1bbde8;
@mixin title {
    font-size: clamp(25px,5vw,32px);
    color: #333;
    font-weight: 700;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    text-transform: uppercase;
    &::after {
        content: "";
        position: absolute;
        margin-top: 45px;
        left: 50%;
        height: 2px;
        width: 50px;
        margin-left: -25px;
        background: $prymori-color;
    }
}

body{
    outline: 1px solid red;
    margin: auto;
    padding: 0;
    font: 15px Helvetica,Arial,sans-serif;
    max-width: 1920px;
    min-width: 360px;
    color: #7a7a7a;
}

.header {
    background: #01a6db url(../img/slider-bg.jpg) center bottom no-repeat;
    background-size: cover;
}
.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lists__list { 
    color: #fff;
    font-size: clamp(16px,2vw,25px);
    line-height: clamp(30px,3vw,40px);
    padding: 5px 0 5px 40px;
    text-transform: uppercase;
    background: url(../img/slider-znak.png) 0 14px no-repeat;
}
.logo {
    max-width: 33.333%;
}
.logo__img {
    max-width: 100%;
    margin-bottom: -30px;
    margin-top: 30px;
}
// 
.first-section-container {
    max-width: 1200px;
    margin: 0 auto;
}
.title__h1 {
    @include title;
}
.installation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.installation-bathroom {
    width: calc(25% - 10px);
    text-align: center;
    &:hover {
        background: $prymori-color url(../img/1hover.png) no-repeat;
        background-position: 50% 38%;
        z-index: 20;
        color: #fff;
    }
    &:nth-child(1) {
            background: url(../img/1ico01b-mini.png) no-repeat;
            background-position: center;
            &:hover {
                background: $prymori-color url(../img/1hover.png) no-repeat;
                background-position: 50%;
                .instalattion__name {
                    color: #fff;
                }
            }
    }
    &:nth-child(2) {
            background: url(../img/2ico02b-mini.png) no-repeat;
            background-position: center;
            &:hover {
                background: $prymori-color url(../img/2hover.png) no-repeat;
                background-position: 50%;
                .instalattion__name {
                    color: #fff;
                }
            }
    }
    &:nth-child(3) {
            background: url(../img/3ico03b-mini.png) no-repeat;
            background-position: center;
            &:hover {
                background: $prymori-color url(../img/3hover.png) no-repeat;
                background-position: 50%;
                .instalattion__name {
                    color: #fff;
                }
            }
    }
    &:nth-child(4) {
            background: url(../img/4ico04b-mini.png) no-repeat;
            background-position: center;
            &:hover {
                background: $prymori-color url(../img/4hover.png) no-repeat;
                background-position: 50%;
                .instalattion__name {
                    color: #fff;
                }
            }
    }
}
.instalattion-bathroom--width {
    margin-right: 10px;
    &:nth-child(4n){
        margin-right: 0px;
    }
}
.installation__img {
    margin-top: 30px;
    width: 100%;
    height: 120px;
}
.instalattion__name {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: #000;
    margin-top: 10px;
}
.description {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.desctiption__text {
    max-width: 100%;
    text-align: justify;
    background: $prymori-color;
    padding:  30px;
    color: #fff;
    font-size: 17px;
}
.forms {
   width: 75%; 
   margin: auto;
}
.forms__h6 {
    font-size: clamp(23px,3vw,30px) ;
    color: #000;
    font-weight: 700;
}
.forms__buttom{
    background-color: $prymori-color;
    color: #fff;
    transition: 0.5s;
    &:hover {
        background-color: #07acda;
        color: #fff;
        letter-spacing: 1px;
        transition: 0.5s;
    }
}
.second-section {
    background-image: url(../img/home-contact.jpg);
}
.second-section-container {
    padding: 50px 12px;
}
.second-section__info {
    text-align: center;
    font-size: clamp(14px,5vw,16px);
    color: #fff;
    line-height: 28px;
}
.second-section__call {
    text-align: center;
    font-size: clamp(23px,4vw,32px);
    color: #fff;
    margin-top: 15px;
    line-height: 36px;
    font-weight: 700;
}
.phone {
    text-align: center;
    margin: 0;
}
.phone__number {
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    line-height: 36px;
    font-weight: 700;
    transition: 0.5s;
    &::before {
        content: ' ';
        display: inline-block;
        background: url(../img/phone.png);
        background-size:contain;
        height: 32px;
        width: 32px;
        margin-right: 10px;
    }&:hover {
        text-decoration: none;
        font-size: 36px;
        color: #fff;
        line-height: 36px;
        font-weight: 700;
        letter-spacing: 1px;
        transition: 0.5s;
    }
}
//@at-root
.third-block-container {
    max-width: 1200px;
    margin: 0 auto;
}
.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.description-services {
    width: calc(33.33% - 20px);
    margin-right: 20px;
    margin-top: 60px;
    &:nth-child(3n) {
        margin-right: 0;
    }

    &:hover {
        background-color: $prymori-color;
        .description-services__title{
            color:#fff;
            &::before {
                background-color: #fff;
            }
        }
        .description-services__descriptions{
            color: #fff;
        }
    }
    position: relative;
    &::before {
        content: url(../img/11sluzba-1-big.png);
        width: 120px;
        height: 120px;
        top: clamp(50px,10vw,140px) ;
        left: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: #fff;
        box-shadow: 1px 1px 20px 10px rgb(0 0 0 / 20%);
    }
    &:nth-child(2)::before {
        content: url(../img/22sluzba-7-big.png);
    }
    &:nth-child(3)::before {
        content: url(../img/33sluzba-3-big.png);
    }
    &:nth-child(4)::before {
        content: url(../img/44sluzba-4-big.png);
    }
    &:nth-child(5)::before {
        content: url(../img/55sluzba-6-big.png);
    }
    &:nth-child(6)::before {
        content: url(../img/66sluzba-8-big.png);
    }
}
.description-services__img {
    max-width: 100%;
    display: flex;
    margin: auto;
}
.description-services__title {
    color: #333;
    font-weight: 700;
    font-size: 18px;
    margin-top: 90px;
    padding-left: 30px;
    text-transform: uppercase;
    position: relative;
    &::before {
        content: '';
        height: 2px;
        width: 50px;
        background-color: $prymori-color;
        position: absolute;
        top: 40px;
    }
}
.description-services__descriptions {
    color: #000;
    font-size: 16px;
    padding-left: 30px;

}
.description-services__descriptions--position-margin {
    margin-top: 30px;
    line-height: 25px;
}
// 
.fourth-block {
    background-color: #f2f2f2;
}
.fourth-block-container {
    max-width: 1200px;
    margin: 0 auto;
}
.other-services {
}
.other-services__title {
    @include title;
}
.other-services__description {
    margin: 0;
    text-align: justify;
    font-size: 16px;
    line-height: 25px;
}




@media (max-width: 992px) {
    .lists--padding {
        padding: 50px 0;
    }
    .installation-bathroom {
        width: calc(50% - 10px);
        text-align: center;
    }
    .instalattion-bathroom--width {
        margin-right: 10px;
        &:nth-child(2n){
            margin-right: 0px;
        }
        
    }
    .description-services {
        width: calc(50% - 20px);
        position: relative;
        margin-right: 20px;
        margin-top: 60px;
        &:nth-child(2n) {
            margin-right: 0;
        }
        
    }
    .description-services::before {
        top: clamp(50px, 15vw, 140px);
    }


}
@media (max-width: 767px) {
    .logo {
        display: none;
    }
    .forms {
        width: 100%; 
     }
     .description-services {
        width: calc(100% - 20px);
        position: relative;
        margin-right: 20px;
        margin-top: 60px;
        &:nth-child(1n) {
            margin-right: 0;
        }
        
    }
    .description-services::before {
        top: clamp(100px, 30vw, 140px);
        left: 10px;
    }
    .services {
        justify-content: center;
    }
    .description-services__title {
        padding-left: 10px;
        font-size: 17px;
    }
    .description-services__descriptions {
        padding-left: 10px;
    }
}
@media (max-width: 575px) {
    .installation-bathroom {
        width: calc(100% - 10px);
        text-align: center;
    }
    .instalattion-bathroom--width {
        margin-right: 10px;
        &:nth-child(1n){
            margin-right: 0px;
        }
        
    }
}
